In [1]:
print('hello linux')

hello linux

In [1]:
a=10

In [2]:
a

10

In [3]:
a + a

20

In [4]:
a=20

In [5]:
a

20

In [6]:
a + a

40

In [7]:
type(a)

int

In [8]:
b=20.3

In [9]:
b

20.3

In [10]:
type(b)

float

In [11]:
"hello world"
'hello linux'

'hello linux'

In [12]:
print("hello world")
print('hello linux')

hello world
hello linux

In [13]:
len("hello linux")

11

In [14]:
len('hello linux')

11

In [15]:
mystring = "Hello linux"

In [17]:
mystring[0]

'H'

In [27]:
mystring[-1]

'x'

In [21]:
mystring[2:]

'llo linux'

In [22]:
mystring[::2]

'Hlolnx'

In [23]:
mystring

'Hello linux'

In [25]:
mystring[2:6:2]

'lo'

In [26]:
mystring[::-1]

'xunil olleH'

In [30]:
'Hello World'[-3]

'r'

In [36]:
'tinker'[1:4:1]

'ink'

In [37]:
name = "pam"

In [38]:
name

'pam'

In [39]:
last_letters = name[1:]

In [40]:
last_letters

'am'

In [42]:
'p' + last_letters

'pam'

In [43]:
new_name= 'p' + last_letters

In [44]:
new_name

'pam'

In [48]:
x = 'Hello World' + ' It is beautiful'

In [49]:
x

'Hello World It is beautiful'

In [51]:
letter = 'z'

In [52]:
letter*10

'zzzzzzzzzz'

In [53]:
x.upper()

'HELLO WORLD IT IS BEAUTIFUL'

In [54]:
x = x.upper()

In [55]:
x

'HELLO WORLD IT IS BEAUTIFUL'

In [56]:
print('This is a string {}'.format('Inserted'))

This is a string Inserted

In [61]:
print('{n} {m} {i}'.format(i='ishan',n='nishan',m='manish'))

nishan manish ishan

In [62]:
result = 0.11233

In [63]:
result

0.11233

In [76]:
print('The result was {r:1.2f}'.format(r=result))

The result was 0.11

In [77]:
list = ['hello','one','two']

In [78]:
type(list)

list

In [79]:
list

['hello', 'one', 'two']

In [80]:
new_list=['three','four','five']

In [81]:
type(new_list)

list

In [82]:
list + new_list

['hello', 'one', 'two', 'three', 'four', 'five']

In [83]:
total = list + new_list

In [84]:
type(total)

list

In [85]:
total

['hello', 'one', 'two', 'three', 'four', 'five']

In [86]:
total.append('end')

In [87]:
total

['hello', 'one', 'two', 'three', 'four', 'five', 'end']

In [88]:
total.pop()

'end'

In [89]:
total

['hello', 'one', 'two', 'three', 'four', 'five']

In [90]:
1/2

0.5

In [91]:
mydict={'key1':'value1','key2':'value2','key3':'value3'}

In [92]:
type(mydict)

dict

In [93]:
mydict

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [94]:
mydict['key2']

'value2'

In [95]:
d = {'key1':10,'key2':[0,1,2],'key3':{'inside':15}}

In [96]:
type(d)

dict

In [97]:
d['key2']

[0, 1, 2]

In [98]:
d['key3']

{'inside': 15}

In [99]:
d['key3']['inside']

15

In [100]:
d1={'key1':['a','b','c']}

In [101]:
type(d1)

dict

In [102]:
d1['key1']

['a', 'b', 'c']

In [107]:
d1['key1']

['a', 'b', 'c']

In [108]:
new1=d1['key1']

In [109]:
type(new1)

list

In [110]:
new1[2].upper()

'C'

In [113]:
new1[1].upper()

'B'

In [115]:
new2=new1[1].upper()

In [116]:
new2

'B'

In [117]:
myset = set()

In [118]:
type(myset)

set

In [119]:
myset.add(1)

In [120]:
myset

{1}

In [121]:
myset.add(2)

In [122]:
myset

{1, 2}

In [123]:
myset.add(3)

In [124]:
myset

{1, 2, 3}

In [126]:
myset.add(3)

In [128]:
myset

{1, 2, 3}

In [133]:
%%writefile myfile.txt
this is my new file
this is the first line
this is the second line

Overwriting myfile.txt

In [134]:
myfile = open('myfile.txt')

In [135]:
myfile.read()

'this is my new file\nthis is the first line\nthis is the second line\n'

In [136]:
myfile.read()

''

In [137]:
myfile.seek(0)

0

In [138]:
myfile.read()

'this is my new file\nthis is the first line\nthis is the second line\n'

In [139]:
myfile.seek(0)

0

In [140]:
content = myfile.read()

In [141]:
content

'this is my new file\nthis is the first line\nthis is the second line\n'

In [142]:
myfile.seek(0)

0

In [143]:
myfile.readlines()

['this is my new file\n',
 'this is the first line\n',
 'this is the second line\n']

In [144]:
myfile.close()

In [147]:
with open('myfile.txt') as my_file:
    contents=my_file.read()

In [149]:
%%writefile my_new_file.txt
first on 1st line
second on 2nd line
third on 3rd line

Writing my_new_file.txt

In [156]:
with open('my_new_file.txt', mode='r') as f:
    print(f.read())

first on 1st line

In [155]:
with open('my_new_file.txt', mode='w+') as f:
    f.write('first on 1st line')

In [157]:
!0

/usr/bin/sh: 1: 0: not found

In [158]:
!False

/usr/bin/sh: 1: False: not found

In [160]:
if True:
    print('The condition is true')
elif (10==10):
    print('condition matches')

The condition is true

In [166]:
loc = 'garage'

if loc== 'bank':
    print('money is cool')
elif loc== 'garage':
    print('cars are cool')
else:
    print('nothing feels cool')

cars are cool

In [167]:
mylist=[1,2,3,4,5,6,7,8,9]

In [169]:
for i in mylist:
    print('hello linux')

hello linux
hello linux
hello linux
hello linux
hello linux
hello linux
hello linux
hello linux
hello linux

In [179]:

for i in mylist:
    #for even numbers
    
    if i % 2 == 0:
        print('The number {} is even'.format(i))

The number 2 is even
The number 4 is even
The number 6 is even
The number 8 is even

In [184]:
sum = 0
for i in mylist:
    sum=sum+i
print('the sum is {}'.format(sum))

the sum is 45

In [188]:
mylist=[(1,2,3),(4,5,6),(7,8,9)]
for a,b,c in mylist:
    print(a)

1
4
7

In [195]:
d = {'k1':1,'k2':2,'k3':3}
for i in d.values():
    print(i)

1
2
3

In [196]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [197]:
for num in range(3,10):
    print(num)

3
4
5
6
7
8
9

In [198]:
for num in range(0,10,2):
    print(num)

0
2
4
6
8

In [200]:
list(range(0,10,2))

TypeError: 'list' object is not callable

In [205]:
word = 'abcde'

for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [206]:
mylist1=[1,2,3]
mylist2=['a','b','c']
mylist3=[100,200,300]

for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [207]:
result = input('please input: ')

please input: hello

In [208]:
type(result)

str

In [209]:
result

'hello'

In [210]:
float(result)

ValueError: could not convert string to float: 'hello'

In [211]:
result=input('enter number: ')

enter number: 50

In [213]:
type(result)

str

In [214]:
result

'50'

In [215]:
float(result)

50.0

In [216]:
int(result)

50

In [217]:
mystring = 'abcdef'

In [218]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [219]:
mylist

['a', 'b', 'c', 'd', 'e', 'f']

In [220]:
mylist = [letter for letter in mystring]

In [221]:
mylist

['a', 'b', 'c', 'd', 'e', 'f']

In [222]:
mylist1 = [x for x in 'ishan']

In [223]:
mylist1

['i', 's', 'h', 'a', 'n']

In [224]:
celcius = [10,20,30,40,50]

In [225]:
farenheit = []

for temp in celcius:
    farenheit.append((9/5)*temp+32)

In [226]:
farenheit

[50.0, 68.0, 86.0, 104.0, 122.0]

In [234]:
celcius=[12,22,35,35.88,50]

farenheit = [(9/5)*temp+32 for temp in celcius]

In [236]:
farenheit

[53.6, 71.6, 95.0, 96.584, 122.0]

In [237]:
result = [x if x%2==0 else 'ODD' for x in range(0,11)]

In [238]:
result

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [241]:
mylist3 = [x for x in range(0,51) if x%2==0]

In [243]:
print(mylist3)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [244]:
str = 'Print every word in this sentence that has even numbers of letters'

In [246]:
print(str.split())

['Print', 'every', 'word', 'in', 'this', 'sentence', 'that', 'has', 'even', 'numbers', 'of', 'letters']

In [248]:
for word in str.split():
    if len(word)%2 == 0:
        print(word)

word
in
this
sentence
that
even
of

In [249]:
#print 1 to 100 and print fizzbuzz for multiple of three
for num in range(1,101):
    if num%3 == 0:
        print('Fizzbuzz')
    else:
        print(num)

1
2
Fizzbuzz
4
5
Fizzbuzz
7
8
Fizzbuzz
10
11
Fizzbuzz
13
14
Fizzbuzz
16
17
Fizzbuzz
19
20
Fizzbuzz
22
23
Fizzbuzz
25
26
Fizzbuzz
28
29
Fizzbuzz
31
32
Fizzbuzz
34
35
Fizzbuzz
37
38
Fizzbuzz
40
41
Fizzbuzz
43
44
Fizzbuzz
46
47
Fizzbuzz
49
50
Fizzbuzz
52
53
Fizzbuzz
55
56
Fizzbuzz
58
59
Fizzbuzz
61
62
Fizzbuzz
64
65
Fizzbuzz
67
68
Fizzbuzz
70
71
Fizzbuzz
73
74
Fizzbuzz
76
77
Fizzbuzz
79
80
Fizzbuzz
82
83
Fizzbuzz
85
86
Fizzbuzz
88
89
Fizzbuzz
91
92
Fizzbuzz
94
95
Fizzbuzz
97
98
Fizzbuzz
100

In [250]:
sr = 'create a list with first letters of every word in this string'

In [251]:
sr.split()

['create',
 'a',
 'list',
 'with',
 'first',
 'letters',
 'of',
 'every',
 'word',
 'in',
 'this',
 'string']

In [252]:
print(sr.split())

['create', 'a', 'list', 'with', 'first', 'letters', 'of', 'every', 'word', 'in', 'this', 'string']

In [253]:
name = []

for num in sr.split():
    name.append(num[0])

In [254]:
name

['c', 'a', 'l', 'w', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

In [1]:
mylist = [1,2,3]

In [2]:
mylist.append(4)

In [3]:
mylist

[1, 2, 3, 4]

In [4]:
mylist.pop()

4

In [5]:
mylist

[1, 2, 3]

In [7]:
def namefunc():
    print('hello')

In [8]:
namefunc()

hello

In [18]:
def say_hello(name='ishan'):
    print('hello ' + name)

In [20]:
say_hello('Nishan')

hello Nishan

In [21]:
def sum(n1,n2):
    return n1+n2

In [22]:
result = sum(20,20)

In [23]:
result

40

In [24]:
#pig_latin check

In [25]:
def pig_latin(name):
    first_letter = name[0]
    if first_letter in 'aeiou':
        print(name+'ay')
    else:
        print(name[1:]+first_letter+'ay')

In [26]:
pig_latin('word')

ordway

In [27]:
pig_latin('apple')

appleay

In [46]:
def myfunc(a,b,c):
    return sum((a,b,c))*0.05

In [47]:
myfunc(10,20,30)

TypeError: sum() missing 1 required positional argument: 'n2'

In [54]:
def myfunc(*args):
    print(args)

In [56]:
myfunc(10,20,30,40,50)

(10, 20, 30, 40, 50)

In [63]:
def myfunc(**kwargs):
    print(kwargs)
    if 'fruit' in kwargs:
        print('your choice of fruit is {}'.format(kwargs['fruit']))
    else:
        print('You have no choice')

In [64]:
myfunc(fruit='apple',veggie='pumpkin')

{'fruit': 'apple', 'veggie': 'pumpkin'}
your choice of fruit is apple

In [1]:
mylist=['a','b','c']

In [4]:
'--'.join(mylist)

'a--b--c'

In [5]:
#summer 69

mynumbers = [1,2,3,4,5,6,7,8,9,10,11,12]

In [17]:
def summer69(mynumbers):
    for num in mynumbers:
        sum = 0
        add = True
        while add:
            if num!=6:
                sum=sum+num
                break
            else:
                add = False
        while not add:
            if num!=9:
                break;
            else:
                add = True
                break
    
        return sum

In [18]:
sum

In [19]:
x = 50

def printer():
    x=25
    return x

In [20]:
print(x)

50

In [21]:
print(printer())

25

In [22]:
#code for finding out volume of a circle
def vol(rad):
    return (4/3)*3.14*(rad**2)

In [23]:
vol(2)

16.746666666666666

In [1]:
result = input('Enter a number: ')

Enter a number: 10

In [2]:
result

'10'

In [3]:
type(result)

str

In [4]:
result_int=int(result)

In [5]:
result_int

10

In [9]:
game_list=[0,1,2]

In [16]:
def game_display(game_list):
    print('Here is the current list')
    print(game_list)

In [18]:
game_display(game_list)

Here is the current list
[0, 1, 2]

In [30]:
def position_choice():
    choice= 'wrong'
    
    while choice not in ['0','1','2']:
        choice = input('Input a choice: ')
        if choice not in ['0','1','2']:
            print('Sorry Invalid input')
        else:
            print('your choice is correct')
    return int(choice)

In [31]:
position_choice()

Input a choice: 2
your choice is correct

2

In [24]:
def replacement_choice(game_list,position):
    user_placement = input('type a string to place')
    game_list[position] = user_placement
    return game_list

In [25]:
replacement_choice(game_list,1)

type a string to place2

[0, '2', 2]

In [26]:
def game_on_choice():
    choice = 'wrong'
    
    while choice not in ['Y','N']:
        choice = input('Enter Y or N')
        
        if choice not in ['Y','N']:
            print('Sorry, I can not understand')
    if choice == "Y":
        return True
    else:
        False

In [29]:
game_on_choice()

Enter Y or Nls
Sorry, I can not understand
Enter Y or NY

True

In [32]:
game_on = True
game_list = [0,1,2]

while game_on:
    
    game_display(game_list)
    
    position = position_choice()
    
    game_list = replacement_choice(game_list,position)
    
    game_display(game_list)
    
    game_on = game_on_choice()

Here is the current list
[0, 1, 2]
Input a choice: 2
your choice is correct
type a string to placeabc
Here is the current list
[0, 1, 'abc']
Enter Y or NY
Here is the current list
[0, 1, 'abc']
Input a choice: bcd
Sorry Invalid input
Input a choice: 1
your choice is correct
type a string to placebcd
Here is the current list
[0, 'bcd', 'abc']
Enter Y or NY
Here is the current list
[0, 'bcd', 'abc']
Input a choice: 0
your choice is correct
type a string to placemn
Here is the current list
['mn', 'bcd', 'abc']
Enter Y or NN

In [15]:
class Dog():
    def _init_

In [16]:
mydog = Sample()

In [13]:
type(mydog)

__main__.Sample

In [1]:
Sample.breed

NameError: name 'Sample' is not defined